Sphinx
git+https://github.com/executablebooks/sphinx-book-theme.git
sphinxcontrib_bibtex
numpydoc
more_itertools
numpy
IPython>=3
nbconvert
pandoc
jupyter
sphinx-copybutton
sphinx-prompt
sphinx-design
codespell
sphinx-math-dollar
