name: docs build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install pandoc and doxygen
        run: |
          sudo apt install pandoc doxygen

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: "pip"

      - name: Install dependencies
        run: pip install -r ./requirements.txt

      - name: Check links
        run: |
          cd docs/
          make SPHINXOPTS=-v linkcheck
